.App {

}

.components img {
    position: absolute;
    /*border: 1px dashed black;*/
    transition: width 5s, height 5s, left 5s, top 5s, transform 5s;
    transition-timing-function: ease-in-out;
}

