.App {

}

.biscuits {
    position: relative;
    margin-bottom: 10px;
}

.biscuits .components img {
    position: absolute;
    transition: width 20s, height 20s, left 20s, top 20s, transform 20s;
    transition-timing-function: ease-in-out;
}

