.App > div {
    border: 1px dashed;
}

.App .css_transition {
    margin-bottom: 200px;
}

.App .css_transition .box {
    position: absolute;
    transition: width 4s, height 4s, left 4s, top 4s, background-color 4s, transform 4s;
}