.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "s c"
    "p p";
}

.App .Search {
  grid-area: s;
}

.App .Control {
  grid-area: c;
}

.App .PlaceList {
  grid-area: p;
}
