/*
  On portrait, show places left to right, scrolling horizontally
  on landscape, top to bottom, scrolling vertically
 */
@media (orientation: portrait) {
  html, body, #root, .App {
    height: 100%;
  }

  .App {
    display: flex;
    flex-flow: column;
  }

  .App .PlaceList {
    flex-grow: 2;
  }

  .App .PlaceList {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .App .PlaceList .Place {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
    width: 90%;
    margin-right: 5%;
  }
}

@media (orientation: landscape) {
  .App .PlaceList {
    display: flex;
    flex-flow: column;
    align-content: stretch;
  }

  .App .PlaceList .Place {
    flex-basis: 450px;
  }
}

.App .PlaceList .Place {
  display: flex;
  flex-flow: column;
}

.CanvasContainer {
  flex-grow: 2;
}

