.App .PlaceList {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.App .Place {
  border: 1px solid;
  display: inline-block;
  width: 90%;
  margin-right: 5%;
}

.App .Place .Pieces {
  white-space: normal;
}
